In [90]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

In [91]:
path = '/content/drive/MyDrive/Colab Notebooks/DACON CUP'

user =  pd.read_csv(path + '/open_data/info_user.csv', encoding = 'euc-kr')
login = pd.read_csv(path +'/open_data/info_login.csv', encoding = 'euc-kr')
competition = pd.read_csv(path +'/open_data/info_competition.csv', encoding = 'euc-kr')
info_submission =  pd.read_csv(path +'/open_data/info_submission.csv', encoding = 'euc-kr')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [308]:
train = pd.read_csv(path + '/open_data/train.csv', encoding = 'euc-kr')
train.head()

              DateTime  사용자  세션  신규방문자  페이지뷰
0  2018-09-09 00:00:00   19  19      8   206
1  2018-09-09 01:00:00   20  19      9   259
2  2018-09-09 02:00:00   12   9      1    48
3  2018-09-09 03:00:00   10  10      2   102
4  2018-09-09 04:00:00    6   5      3    18

In [309]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19008 entries, 0 to 19007
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  19008 non-null  object
 1   사용자       19008 non-null  int64
 2   세션        19008 non-null  int64
 3   신규방문자     19008 non-null  int64
 4   페이지뷰      19008 non-null  int64
dtypes: int64(4), object(1)
memory usage: 742.6+ KB

In [310]:
# date 기준으로.

train['DateTime'] = pd.to_datetime(train.DateTime) #dtype: datetime으로 변경
train['date'] = train.DateTime.dt.date
train  = train.groupby('date').sum().reset_index()
train.head()

         date  사용자   세션  신규방문자  페이지뷰
0  2018-09-09  281  266     73  1826
1  2018-09-10  264  247     51  2092
2  2018-09-11  329  310     58  1998
3  2018-09-12  300  287     45  2595
4  2018-09-13  378  344     50  3845

In [311]:
# scaling
mini = train.iloc[:,1:].min()
size = train.iloc[:,1:].max() - train.iloc[:,1:].min()
train.iloc[:,1:] = (train.iloc[:,1:] -  mini) / size

input_window = 61
output_window = 61 # 7

window_x = np.zeros((train.shape[0] - (input_window + output_window), input_window, 4))
window_y = np.zeros((train.shape[0] - (input_window + output_window), output_window, 4))

for start in range(train.shape[0] - (input_window + output_window)):
    end = start + input_window    
    window_x[start,:, :] = train.iloc[start : end                , 1: ].values
    window_y[start,:, :] = train.iloc[end   : end + output_window, 1: ].values


print('window_x.shape: ', window_x.shape)
print('window_y.shape: ', window_y.shape)

window_x.shape:  (670, 61, 4)
window_y.shape:  (670, 61, 4)

In [300]:
# window_x

- 시계열 데이터 임베딩 찾아서 적용해보기
- 스케일링 다르게 해보기
- dropout 적용해보기

In [301]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers, Sequential

from tensorflow.keras.layers import Dense, Conv1D, LSTM, Input, TimeDistributed
from tensorflow.keras.models import Model

optimizer = Adam, loss = mse, activation_function = 따로지정x

In [322]:
model = Sequential()
model.add(LSTM(32, input_shape=(61, 4), return_sequences=True))  # ()
model.add(LSTM(32, return_sequences=True)) 
model.add(LSTM(32, return_sequences=True)) 
model.add(LSTM(32, return_sequences=True)) 
model.add(LSTM(32, return_sequences=True)) 
model.add(TimeDistributed(Dense(4)))

model.summary()

opt = keras.optimizers.Adam(learning_rate=0.01)
model.compile(loss='mean_squared_error', optimizer=opt)

model.fit(window_x, window_y, epochs=100, batch_size=50)

# lstm2층 - epochs100, batch_size=10

Model: "sequential_10"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_25 (LSTM)               (None, 61, 32)            4736
_________________________________________________________________
lstm_26 (LSTM)               (None, 61, 32)            8320
_________________________________________________________________
lstm_27 (LSTM)               (None, 61, 32)            8320
_________________________________________________________________
lstm_28 (LSTM)               (None, 61, 32)            8320
_________________________________________________________________
lstm_29 (LSTM)               (None, 61, 32)            8320
_________________________________________________________________
time_distributed_10 (TimeDis (None, 61, 4)             132
=================================================================
Total params: 38,148
Trainable params: 38,148
Non-trainable params: 0
_________________________________________________________________
Epoch 1/100
34/34 [==============================] - 11s 99ms/step - loss: 0.0279
Epoch 2/100
34/34 [==============================] - 3s 100ms/step - loss: 0.0107
Epoch 3/100
34/34 [==============================] - 3s 98ms/step - loss: 0.0101
Epoch 4/100
34/34 [==============================] - 3s 99ms/step - loss: 0.0096
Epoch 5/100
34/34 [==============================] - 3s 99ms/step - loss: 0.0096
Epoch 6/100
34/34 [==============================] - 3s 98ms/step - loss: 0.0091
Epoch 7/100
34/34 [==============================] - 3s 97ms/step - loss: 0.0093
Epoch 8/100
34/34 [==============================] - 3s 100ms/step - loss: 0.0076
Epoch 9/100
34/34 [==============================] - 3s 97ms/step - loss: 0.0072
Epoch 10/100
34/34 [==============================] - 3s 98ms/step - loss: 0.0067
Epoch 11/100
34/34 [==============================] - 3s 98ms/step - loss: 0.0060
Epoch 12/100
34/34 [==============================] - 3s 98ms/step - loss: 0.0056
Epoch 13/100
34/34 [==============================] - 3s 101ms/step - loss: 0.0058
Epoch 14/100
34/34 [==============================] - 3s 97ms/step - loss: 0.0050
Epoch 15/100
34/34 [==============================] - 3s 97ms/step - loss: 0.0050
Epoch 16/100
34/34 [==============================] - 3s 99ms/step - loss: 0.0052
Epoch 17/100
34/34 [==============================] - 3s 98ms/step - loss: 0.0043
Epoch 18/100
34/34 [==============================] - 3s 100ms/step - loss: 0.0042
Epoch 19/100
34/34 [==============================] - 3s 97ms/step - loss: 0.0039
Epoch 20/100
34/34 [==============================] - 3s 103ms/step - loss: 0.0039
Epoch 21/100
34/34 [==============================] - 3s 98ms/step - loss: 0.0036
Epoch 22/100
34/34 [==============================] - 3s 100ms/step - loss: 0.0045
Epoch 23/100
34/34 [==============================] - 3s 98ms/step - loss: 0.0042
Epoch 24/100
34/34 [==============================] - 3s 98ms/step - loss: 0.0037
Epoch 25/100
34/34 [==============================] - 3s 98ms/step - loss: 0.0032
Epoch 26/100
34/34 [==============================] - 3s 98ms/step - loss: 0.0029
Epoch 27/100
34/34 [==============================] - 3s 97ms/step - loss: 0.0035
Epoch 28/100
34/34 [==============================] - 3s 98ms/step - loss: 0.0028
Epoch 29/100
34/34 [==============================] - 3s 100ms/step - loss: 0.0027
Epoch 30/100
34/34 [==============================] - 3s 100ms/step - loss: 0.0024
Epoch 31/100
34/34 [==============================] - 3s 98ms/step - loss: 0.0025
Epoch 32/100
34/34 [==============================] - 3s 99ms/step - loss: 0.0025
Epoch 33/100
34/34 [==============================] - 3s 98ms/step - loss: 0.0020
Epoch 34/100
34/34 [==============================] - 3s 99ms/step - loss: 0.0019
Epoch 35/100
34/34 [==============================] - 3s 98ms/step - loss: 0.0018
Epoch 36/100
34/34 [==============================] - 3s 103ms/step - loss: 0.0017
Epoch 37/100
34/34 [==============================] - 3s 100ms/step - loss: 0.0016
Epoch 38/100
34/34 [==============================] - 3s 101ms/step - loss: 0.0016
Epoch 39/100
34/34 [==============================] - 3s 98ms/step - loss: 0.0015
Epoch 40/100
34/34 [==============================] - 3s 99ms/step - loss: 0.0013
Epoch 41/100
34/34 [==============================] - 3s 98ms/step - loss: 0.0014
Epoch 42/100
34/34 [==============================] - 3s 100ms/step - loss: 0.0015
Epoch 43/100
34/34 [==============================] - 3s 101ms/step - loss: 0.0013
Epoch 44/100
34/34 [==============================] - 3s 102ms/step - loss: 0.0013
Epoch 45/100
34/34 [==============================] - 4s 107ms/step - loss: 0.0012
Epoch 46/100
34/34 [==============================] - 4s 109ms/step - loss: 0.0012
Epoch 47/100
34/34 [==============================] - 4s 104ms/step - loss: 0.0011
Epoch 48/100
34/34 [==============================] - 3s 100ms/step - loss: 0.0011
Epoch 49/100
34/34 [==============================] - 3s 100ms/step - loss: 0.0012
Epoch 50/100
34/34 [==============================] - 3s 100ms/step - loss: 0.0011
Epoch 51/100
34/34 [==============================] - 3s 99ms/step - loss: 0.0010
Epoch 52/100
34/34 [==============================] - 3s 103ms/step - loss: 0.0011
Epoch 53/100
34/34 [==============================] - 3s 102ms/step - loss: 9.5806e-04
Epoch 54/100
34/34 [==============================] - 3s 100ms/step - loss: 9.7859e-04
Epoch 55/100
34/34 [==============================] - 3s 100ms/step - loss: 9.0112e-04
Epoch 56/100
34/34 [==============================] - 3s 101ms/step - loss: 0.0010
Epoch 57/100
34/34 [==============================] - 3s 100ms/step - loss: 9.3264e-04
Epoch 58/100
34/34 [==============================] - 4s 104ms/step - loss: 8.3966e-04
Epoch 59/100
34/34 [==============================] - 4s 103ms/step - loss: 9.0543e-04
Epoch 60/100
34/34 [==============================] - 3s 102ms/step - loss: 9.2584e-04
Epoch 61/100
34/34 [==============================] - 3s 102ms/step - loss: 8.2584e-04
Epoch 62/100
34/34 [==============================] - 3s 102ms/step - loss: 7.5836e-04
Epoch 63/100
34/34 [==============================] - 3s 101ms/step - loss: 7.8426e-04
Epoch 64/100
34/34 [==============================] - 4s 104ms/step - loss: 7.7245e-04
Epoch 65/100
34/34 [==============================] - 3s 100ms/step - loss: 7.6115e-04
Epoch 66/100
34/34 [==============================] - 3s 103ms/step - loss: 9.3730e-04
Epoch 67/100
34/34 [==============================] - 3s 103ms/step - loss: 0.0010
Epoch 68/100
34/34 [==============================] - 3s 101ms/step - loss: 8.3052e-04
Epoch 69/100
34/34 [==============================] - 3s 101ms/step - loss: 7.6869e-04
Epoch 70/100
34/34 [==============================] - 3s 101ms/step - loss: 7.0411e-04
Epoch 71/100
34/34 [==============================] - 3s 100ms/step - loss: 7.0051e-04
Epoch 72/100
34/34 [==============================] - 3s 100ms/step - loss: 6.5702e-04
Epoch 73/100
34/34 [==============================] - 3s 101ms/step - loss: 7.6839e-04
Epoch 74/100
34/34 [==============================] - 3s 98ms/step - loss: 7.3209e-04
Epoch 75/100
34/34 [==============================] - 3s 98ms/step - loss: 6.5180e-04
Epoch 76/100
34/34 [==============================] - 3s 99ms/step - loss: 6.6576e-04
Epoch 77/100
34/34 [==============================] - 3s 98ms/step - loss: 7.2267e-04
Epoch 78/100
34/34 [==============================] - 3s 99ms/step - loss: 6.8127e-04
Epoch 79/100
34/34 [==============================] - 3s 99ms/step - loss: 6.1900e-04
Epoch 80/100
34/34 [==============================] - 3s 98ms/step - loss: 6.0675e-04
Epoch 81/100
34/34 [==============================] - 3s 99ms/step - loss: 6.6716e-04
Epoch 82/100
34/34 [==============================] - 3s 101ms/step - loss: 6.5294e-04
Epoch 83/100
34/34 [==============================] - 4s 103ms/step - loss: 6.5767e-04
Epoch 84/100
34/34 [==============================] - 3s 101ms/step - loss: 6.4339e-04
Epoch 85/100
34/34 [==============================] - 3s 99ms/step - loss: 5.8643e-04
Epoch 86/100
34/34 [==============================] - 3s 99ms/step - loss: 5.9697e-04
Epoch 87/100
34/34 [==============================] - 3s 99ms/step - loss: 5.7390e-04
Epoch 88/100
34/34 [==============================] - 3s 99ms/step - loss: 5.9993e-04
Epoch 89/100
34/34 [==============================] - 3s 100ms/step - loss: 5.7437e-04
Epoch 90/100
34/34 [==============================] - 3s 101ms/step - loss: 6.2034e-04
Epoch 91/100
34/34 [==============================] - 4s 103ms/step - loss: 5.5573e-04
Epoch 92/100
34/34 [==============================] - 3s 99ms/step - loss: 5.4587e-04
Epoch 93/100
34/34 [==============================] - 3s 99ms/step - loss: 5.1591e-04
Epoch 94/100
34/34 [==============================] - 3s 98ms/step - loss: 5.8953e-04
Epoch 95/100
34/34 [==============================] - 3s 97ms/step - loss: 5.7147e-04
Epoch 96/100
34/34 [==============================] - 3s 98ms/step - loss: 5.1799e-04
Epoch 97/100
34/34 [==============================] - 3s 98ms/step - loss: 6.3577e-04
Epoch 98/100
34/34 [==============================] - 3s 99ms/step - loss: 5.4119e-04
Epoch 99/100
34/34 [==============================] - 3s 101ms/step - loss: 5.1526e-04
Epoch 100/100
34/34 [==============================] - 3s 103ms/step - loss: 5.3308e-04

## test : last_month

In [323]:
# train은 이미 위에서 minmax scaler적용되어있음.

last_month = train.iloc[-61:,1:].values[np.newaxis,...] # np.newaxis: 3D로 차원을 늘려줌. 
last_month.shape

(1, 61, 4)

In [324]:
pred_month = model.predict(last_month)
pred_month[:5]

WARNING:tensorflow:5 out of the last 12 calls to <function Model.make_predict_function.<locals>.predict_function at 0x7f6ebc693158> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

array([[[0.43963647, 0.43365198, 0.32959282, 0.4240301 ],
        [0.5167538 , 0.50954247, 0.3996908 , 0.49516553],
        [0.5285641 , 0.5220842 , 0.42350447, 0.48978907],
        [0.4824617 , 0.4778763 , 0.414187  , 0.4362203 ],
        [0.48066807, 0.48141915, 0.4268977 , 0.42275542],
        [0.3485274 , 0.34517598, 0.28855813, 0.28458583],
        [0.35799232, 0.35710925, 0.28475055, 0.32664666],
        [0.6784514 , 0.6827958 , 0.6185802 , 0.65212035],
        [0.6934716 , 0.69402695, 0.60501873, 0.6752107 ],
        [0.5951985 , 0.60278666, 0.49803567, 0.5573926 ],
        [0.5846635 , 0.60112315, 0.533925  , 0.5143457 ],
        [0.85704595, 0.90893114, 0.9535506 , 0.8849674 ],
        [0.40649867, 0.40829855, 0.38670433, 0.3048669 ],
        [0.2778231 , 0.26801777, 0.21661475, 0.22114849],
        [0.45005727, 0.44205242, 0.31538743, 0.5300254 ],
        [0.55307066, 0.53001297, 0.42574823, 0.6445355 ],
        [0.55094147, 0.5259095 , 0.4103186 , 0.6477212 ],
        [0.48406917, 0.4664452 , 0.35528255, 0.51738554],
        [0.45900154, 0.44719905, 0.32405126, 0.4630438 ],
        [0.32287174, 0.31915992, 0.23235731, 0.29937917],
        [0.32079673, 0.31611726, 0.2328754 , 0.30512017],
        [0.5844586 , 0.5738543 , 0.465006  , 0.560197  ],
        [0.60013294, 0.59224457, 0.5322892 , 0.48959112],
        [0.42514908, 0.41492534, 0.32923973, 0.3233268 ],
        [0.500391  , 0.49945277, 0.43562812, 0.4796862 ],
        [0.26280594, 0.25533646, 0.20591462, 0.21900284],
        [0.26983348, 0.26877916, 0.23807965, 0.20963743],
        [0.3195749 , 0.3140309 , 0.23896147, 0.27732366],
        [0.69394606, 0.69232947, 0.6049195 , 0.6785846 ],
        [0.5707366 , 0.56646776, 0.44262147, 0.5097246 ],
        [0.4717036 , 0.4658085 , 0.36517507, 0.4087428 ],
        [0.4672353 , 0.46535814, 0.36999506, 0.37529328],
        [0.5437784 , 0.54594326, 0.5013027 , 0.43765223],
        [0.3627716 , 0.35406756, 0.2946504 , 0.30258855],
        [0.28265226, 0.2734    , 0.20582567, 0.24651569],
        [0.5729007 , 0.55840915, 0.43477613, 0.55174685],
        [0.68256027, 0.67709225, 0.5873324 , 0.66177905],
        [0.60212326, 0.6021744 , 0.4871347 , 0.5848552 ],
        [0.54851335, 0.55400383, 0.47143972, 0.46846095],
        [0.9630393 , 1.0082732 , 1.0842934 , 0.9331631 ],
        [0.37853324, 0.37819356, 0.36685798, 0.296385  ],
        [0.28553447, 0.26768398, 0.23739387, 0.25912374],
        [0.5328684 , 0.51074946, 0.39800513, 0.6212697 ],
        [0.496974  , 0.47660553, 0.33102226, 0.5931027 ],
        [0.5138768 , 0.49077713, 0.35094002, 0.58629596],
        [0.49290767, 0.4767475 , 0.34988987, 0.5087729 ],
        [0.46938217, 0.46310425, 0.33827603, 0.4516689 ],
        [0.3358174 , 0.33412766, 0.26192433, 0.3168432 ],
        [0.3363234 , 0.33656985, 0.25867265, 0.3492182 ],
        [0.7253599 , 0.727644  , 0.64037246, 0.7490193 ],
        [0.61753607, 0.6072988 , 0.5339674 , 0.559991  ],
        [0.5873121 , 0.5716152 , 0.45027822, 0.604534  ],
        [0.5472332 , 0.54592925, 0.4718483 , 0.44699854],
        [0.4263726 , 0.4208057 , 0.3542526 , 0.36435235],
        [0.3150152 , 0.31438208, 0.19316871, 0.29501408],
        [0.30195946, 0.31047785, 0.21113384, 0.30568805],
        [0.36531723, 0.36585885, 0.22853054, 0.39968273],
        [0.41831115, 0.41167855, 0.2686273 , 0.44634593],
        [0.4368385 , 0.4337991 , 0.3216319 , 0.41885567],
        [0.512882  , 0.5047817 , 0.40534782, 0.45590037],
        [0.4683582 , 0.46477306, 0.3700223 , 0.3997435 ]]], dtype=float32)

In [325]:
pred_month = pred_month.reshape(output_window,4)
pred_month = pred_month * size.values + mini.values
pred_month = pred_month.astype(int)
pred_month

array([[  2382,   2342,    558,  65910],
       [  2800,   2752,    676,  76967],
       [  2864,   2819,    716,  76131],
       [  2614,   2581,    700,  67805],
       [  2604,   2600,    722,  65712],
       [  1888,   1864,    488,  44236],
       [  1940,   1929,    482,  50773],
       [  3676,   3687,   1046, 101363],
       [  3757,   3748,   1023, 104952],
       [  3225,   3255,    842,  86639],
       [  3168,   3246,    903,  79948],
       [  4643,   4908,   1612, 137555],
       [  2203,   2205,    654,  47388],
       [  1505,   1448,    367,  34375],
       [  2438,   2387,    534,  82385],
       [  2996,   2862,    720, 100184],
       [  2985,   2840,    694, 100679],
       [  2623,   2519,    601,  80420],
       [  2487,   2415,    548,  71974],
       [  1749,   1724,    393,  46535],
       [  1738,   1707,    394,  47427],
       [  3167,   3099,    786,  87075],
       [  3251,   3198,    900,  76100],
       [  2304,   2241,    557,  50257],
       [  2711,   2697,    737,  74561],
       [  1424,   1379,    348,  34042],
       [  1462,   1452,    403,  32586],
       [  1732,   1696,    404,  43107],
       [  3760,   3738,   1023, 105476],
       [  3092,   3059,    749,  79230],
       [  2556,   2515,    618,  63534],
       [  2532,   2513,    626,  58334],
       [  2946,   2948,    848,  68027],
       [  1966,   1912,    498,  47034],
       [  1532,   1477,    348,  38318],
       [  3104,   3015,    735,  85761],
       [  3698,   3656,    993, 102864],
       [  3262,   3252,    824,  90907],
       [  2972,   2992,    797,  72816],
       [  5217,   5444,   1833, 145046],
       [  2051,   2042,    620,  46070],
       [  1547,   1446,    402,  40278],
       [  2887,   2758,    673,  96567],
       [  2693,   2574,    560,  92189],
       [  2784,   2650,    594,  91131],
       [  2671,   2574,    592,  79082],
       [  2543,   2501,    572,  70206],
       [  1820,   1804,    443,  49249],
       [  1822,   1818,    438,  54282],
       [  3930,   3929,   1083, 116424],
       [  3346,   3279,    903,  87043],
       [  3182,   3087,    761,  93966],
       [  2965,   2948,    798,  69480],
       [  2310,   2272,    599,  56634],
       [  1707,   1698,    327,  45856],
       [  1636,   1677,    357,  47516],
       [  1979,   1976,    387,  62125],
       [  2266,   2223,    454,  69378],
       [  2367,   2343,    544,  65105],
       [  2779,   2726,    686,  70863],
       [  2538,   2510,    626,  62135]])

In [326]:
pred_month.shape

(61, 4)

## submit

In [327]:
submission =  pd.read_csv(path + '/open_data/submission.csv', encoding = 'euc-kr')
submission.shape

(61, 5)

In [328]:
pred_month.shape

(61, 4)

In [329]:
pred_df = pd.DataFrame(pred_month)
pred_df.head()

      0     1    2      3
0  2382  2342  558  65910
1  2800  2752  676  76967
2  2864  2819  716  76131
3  2614  2581  700  67805
4  2604  2600  722  65712

In [330]:
# 30까지 모두 채우면 다시 0부터.

for i in range(len(submission)):
  submission['사용자'][i] = pred_df[0][i]
  submission['세션'][i] = pred_df[1][i]
  submission['신규방문자'][i] = pred_df[2][i]
  submission['페이지뷰'][i] = pred_df[3][i]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [331]:
submission.head()

     DateTime   사용자    세션  신규방문자   페이지뷰
0  2020-11-09  2382  2342    558  65910
1  2020-11-10  2800  2752    676  76967
2  2020-11-11  2864  2819    716  76131
3  2020-11-12  2614  2581    700  67805
4  2020-11-13  2604  2600    722  65712

In [336]:
submission.to_csv('61 lstm3.csv', index = False, encoding = 'euc-kr')

## 참조

In [ ]:
# 각 변수의 크기가 다르기 때문에 가중치를 부여한 RMSE로 모델의 성능을 평가

def dacon_rmse(true, pred):
    # true.shape // (N,4)
    # pred.shape // (N,4)
    # w0, w1, w2, w3 <= train.csv의 사용자 수, 세션 수, 신규 방문자 수, 페이지 뷰 수 4가지 항목별 평균값
    score = np.sqrt(np.mean(np.square(true[:,0] - pred[:,0]))) / w0 +\
            + np.sqrt(np.mean(np.square(true[:,1] - pred[:,1]))) / w1 +\
            + np.sqrt(np.mean(np.square(true[:,2] - pred[:,2]))) / w2 +\
            + np.sqrt(np.mean(np.square(true[:,3] - pred[:,3]))) / w3 +\
     return score

In [ ]:
# 스케일링
from sklearn.preprocessing import MinMaxScaler

sc = MinMaxScaler()

train_sc = sc.fit_transform(train)
test_sc = sc.transform(test)

train_sc

In [ ]:
# date 기준 변수 만들기

from datetime import datetime

def create_features(df):
    """
    Creates time series features from datetime index
    """
    # df['DateTime'] = df.index
    # df['hour'] = df['date'].dt.hour
    df['dayofweek'] = pd.to_datetime(df['date']).dt.dayofweek
    df['quarter'] = pd.to_datetime(df['date']).dt.quarter
    df['month'] = pd.to_datetime(df['date']).dt.month
    df['year'] = pd.to_datetime(df['date']).dt.year
    df['dayofyear'] = pd.to_datetime(df['date']).dt.dayofyear
    df['dayofmonth'] = pd.to_datetime(df['date']).dt.day
    df['weekofyear'] = pd.to_datetime(df['date']).dt.weekofyear
    
    X = df[['사용자','세션','신규방문자','페이지뷰','date','dayofweek','quarter','month','year',
           'dayofyear','dayofmonth','weekofyear']]
    X.set_index('date', inplace = True)
    X.index = pd.to_datetime(X.index)
    return X

## 예측값을 x로 다시 predict  
- 마이너스 값이 나와서 실패..

In [240]:
tr_month1 = pd.DataFrame(pred_month)

In [241]:
# 위 예측값을 x로 사용하기.
mini1 = tr_month1.iloc[:,1:].min()
size1 = tr_month1.iloc[:,1:].max() - tr_month1.iloc[:,1:].min()
tr_month1.iloc[:,1:] = (tr_month1.iloc[:,1:] -  mini1) / size1

tr_month1 = tr_month1.iloc[:,:].values[np.newaxis,...] # np.newaxis: 3D로 차원을 늘려줌. 
tr_month1.shape

(1, 30, 4)

In [242]:
pred_month1 = model.predict(tr_month1)
pred_month1[:5]

array([[[ 0.18093495,  0.15617856,  0.17545578,  0.07859027],
        [ 0.09990777,  0.06255519,  0.09158635, -0.03202646],
        [ 0.1238751 ,  0.08535202,  0.10137758, -0.0130481 ],
        [ 0.1609668 ,  0.12201263,  0.13407502,  0.02669705],
        [ 0.17643648,  0.13653305,  0.14765052,  0.04409892],
        [ 0.17911391,  0.13828306,  0.1470722 ,  0.04774056],
        [ 0.18096438,  0.13957691,  0.14543536,  0.05040792],
        [ 0.18431361,  0.14262158,  0.14594844,  0.05457786],
        [ 0.18804072,  0.14617258,  0.14746507,  0.05902395],
        [ 0.19144723,  0.14947562,  0.14904726,  0.06302298],
        [ 0.19444391,  0.15241605,  0.15047295,  0.06651456],
        [ 0.19708903,  0.15503576,  0.15175058,  0.0695814 ],
        [ 0.19941911,  0.15735956,  0.1528904 ,  0.07227365],
        [ 0.20145619,  0.1594011 ,  0.15389048,  0.07462133],
        [ 0.20322528,  0.16118066,  0.15475564,  0.07665686],
        [ 0.20475666,  0.1627254 ,  0.15549937,  0.07841668],
        [ 0.20607981,  0.16406311,  0.15613678,  0.07993583],
        [ 0.20722167,  0.16521949,  0.1566826 ,  0.08124612],
        [ 0.20820667,  0.16621836,  0.15714978,  0.08237571],
        [ 0.2090564 ,  0.1670809 ,  0.1575499 ,  0.0833498 ],
        [ 0.20978941,  0.16782564,  0.15789254,  0.0841899 ],
        [ 0.21042213,  0.16846888,  0.15818639,  0.08491511],
        [ 0.21096869,  0.16902478,  0.15843861,  0.08554155],
        [ 0.21144134,  0.16950572,  0.15865529,  0.08608345],
        [ 0.21185055,  0.16992216,  0.1588416 ,  0.08655299],
        [ 0.21220507,  0.17028306,  0.15900199,  0.08695994],
        [ 0.21251297,  0.17059648,  0.15914051,  0.08731372],
        [ 0.21278061,  0.17086884,  0.15926   ,  0.08762143],
        [ 0.21301368,  0.1711061 ,  0.1593634 ,  0.0878898 ],
        [ 0.21321674,  0.17131281,  0.15945278,  0.0881241 ]]],
      dtype=float32)

In [243]:
pred_month1 = pred_month1.reshape(output_window,4)
pred_month1 = pred_month1 * size.values + mini.values
pred_month1 = pred_month1.astype(int)
pred_month1

array([[  981,   844,   297, 12217],
       [  542,   338,   155, -4975],
       [  672,   461,   172, -2026],
       [  872,   659,   227,  4151],
       [  956,   738,   250,  6856],
       [  971,   747,   249,  7422],
       [  981,   754,   246,  7837],
       [  999,   771,   247,  8485],
       [ 1019,   790,   250,  9176],
       [ 1038,   808,   252,  9797],
       [ 1054,   823,   255, 10340],
       [ 1068,   838,   257, 10817],
       [ 1081,   850,   259, 11235],
       [ 1092,   861,   261, 11600],
       [ 1101,   871,   262, 11917],
       [ 1110,   879,   263, 12190],
       [ 1117,   886,   264, 12426],
       [ 1123,   893,   265, 12630],
       [ 1128,   898,   266, 12805],
       [ 1133,   903,   267, 12957],
       [ 1137,   907,   267, 13087],
       [ 1140,   910,   268, 13200],
       [ 1143,   913,   268, 13297],
       [ 1146,   916,   269, 13382],
       [ 1148,   918,   269, 13455],
       [ 1150,   920,   269, 13518],
       [ 1152,   922,   269, 13573],
       [ 1153,   923,   270, 13621],
       [ 1154,   924,   270, 13662],
       [ 1155,   925,   270, 13699]])

#### 윈도우 크기 다르게 해서 train하고 test해보기

aa

## test = train[-61]

In [201]:
test = train[-61:]
test

           date       사용자        세션     신규방문자      페이지뷰
731  2020-09-09  0.497877  0.490461  0.355030  0.377532
732  2020-09-10  0.452464  0.450824  0.324260  0.339207
733  2020-09-11  0.405206  0.397111  0.278107  0.321836
734  2020-09-12  0.298320  0.295425  0.194083  0.242021
735  2020-09-13  0.342810  0.333951  0.198817  0.288169
..          ...       ...       ...       ...       ...
787  2020-11-04  0.833487  0.828116  0.707101  0.724949
788  2020-11-05  0.766845  0.747546  0.617160  0.662015
789  2020-11-06  0.676020  0.662160  0.487574  0.566244
790  2020-11-07  0.456157  0.447490  0.313609  0.369188
791  2020-11-08  0.459849  0.448046  0.308284  0.324796

[61 rows x 5 columns]

In [202]:
# scaling

input_window = 30
output_window = 30

test_x = np.zeros((test.shape[0] - (input_window + output_window), input_window, 4))
test_y = np.zeros((test.shape[0] - (input_window + output_window), output_window, 4))

for start in range(test.shape[0] - (input_window + output_window)):
    end = start + input_window    
    test_x[start,:, :] = test.iloc[start : end                , 1: ].values
    test_y[start,:, :] = test.iloc[end   : end + output_window, 1: ].values


print('test_x.shape: ', test_x.shape)
print('test_y.shape: ', test_y.shape)

test_x.shape:  (1, 30, 4)
test_y.shape:  (1, 30, 4)

In [205]:
pred = model.predict(test_x)
pred[:5]

array([[[0.40022817, 0.39372706, 0.27692318, 0.33888835],
        [0.38961065, 0.3810348 , 0.25960314, 0.3113099 ],
        [0.4294502 , 0.41507578, 0.28880233, 0.3883028 ],
        [0.57350516, 0.56259114, 0.4501635 , 0.5218927 ],
        [0.4765348 , 0.467364  , 0.3573951 , 0.40904856],
        [0.4156783 , 0.4077924 , 0.30611813, 0.35120863],
        [0.39636064, 0.39218706, 0.30435696, 0.30528963],
        [0.36307785, 0.3584634 , 0.27156314, 0.28400347],
        [0.27903116, 0.27569184, 0.22178051, 0.19545761],
        [0.37462008, 0.3721298 , 0.3127888 , 0.26252687],
        [0.47159705, 0.46326333, 0.39487627, 0.3773024 ],
        [0.5758832 , 0.5726595 , 0.5498195 , 0.51826733],
        [0.4800876 , 0.47606337, 0.40594587, 0.41935587],
        [0.5029881 , 0.49729228, 0.44717255, 0.40659106],
        [0.41189307, 0.40996557, 0.32963312, 0.3260718 ],
        [0.32444862, 0.31973892, 0.24362595, 0.24606156],
        [0.31358963, 0.30821908, 0.22619447, 0.24227071],
        [0.5731859 , 0.56185716, 0.45973936, 0.5016769 ],
        [0.5977129 , 0.5902312 , 0.50035036, 0.51571363],
        [0.6287253 , 0.6153519 , 0.47962388, 0.56161374],
        [0.72617733, 0.7119673 , 0.54668725, 0.66380554],
        [0.6269578 , 0.6128519 , 0.45852357, 0.57276046],
        [0.38461196, 0.38926733, 0.2929963 , 0.35597497],
        [0.41811678, 0.41667396, 0.2834545 , 0.32897407],
        [0.92786264, 0.92589235, 0.7197988 , 0.7954483 ],
        [0.99637115, 0.9809154 , 0.84584224, 0.95834094],
        [0.801074  , 0.802544  , 0.6581842 , 0.7114733 ],
        [0.7750157 , 0.761341  , 0.61916006, 0.66807246],
        [0.65806127, 0.62934315, 0.4624195 , 0.5738214 ],
        [0.4736397 , 0.45610887, 0.3364939 , 0.37770942]]], dtype=float32)

In [206]:
pred = pred.reshape(output_window,4)
pred = pred * size.values + mini.values
pred = pred.astype(int)
pred

array([[  2169,   2126,    469,  52676],
       [  2111,   2058,    439,  48389],
       [  2327,   2241,    489,  60357],
       [  3107,   3038,    761,  81121],
       [  2582,   2524,    604,  63581],
       [  2252,   2202,    518,  54591],
       [  2148,   2118,    515,  47454],
       [  1967,   1936,    459,  44145],
       [  1512,   1489,    375,  30382],
       [  2030,   2010,    529,  40807],
       [  2555,   2502,    668,  58647],
       [  3120,   3092,    930,  80557],
       [  2601,   2571,    687,  65183],
       [  2725,   2685,    756,  63199],
       [  2232,   2214,    558,  50684],
       [  1758,   1727,    412,  38248],
       [  1699,   1665,    383,  37658],
       [  3105,   3034,    777,  77979],
       [  3238,   3187,    846,  80160],
       [  3406,   3323,    811,  87295],
       [  3934,   3844,    924, 103179],
       [  3397,   3309,    775,  89027],
       [  2084,   2102,    496,  55332],
       [  2265,   2250,    480,  51135],
       [  5027,   4999,   1217, 123640],
       [  5398,   5296,   1430, 148959],
       [  4340,   4333,   1113, 110588],
       [  4199,   4111,   1047, 103842],
       [  3565,   3398,    782,  89192],
       [  2566,   2463,    569,  58710]])

In [207]:
pred.shape

(30, 4)

In [ ]:
baseline = pd.read_csv(path + '/open_data/baseline.csv', encoding = 'euc-kr' )
baseline.head()

     DateTime   사용자    세션  신규방문자   페이지뷰
0  2020-11-09  3252  3263    777  88002
1  2020-11-10  2825  2758    671  73749
2  2020-11-11  2614  2588    599  67300
3  2020-11-12  2391  2373    557  63723
4  2020-11-13  2063  2047    467  54340

In [ ]:
last_month = train.iloc[-30:,1:].values[np.newaxis,...].astype(float) #float() # <- 수정 후
last_month

In [ ]:

#last_month = torch.tensor(window_x[-1,:,:][np.newaxis,...]).float().to(device) <- 수정 전
last_month = train.iloc[-30:,1:].values[np.newaxis,...] # <- 수정 후
# last_month = torch.tensor(last_month).float() # <- 수정 후

for start in range((len(submission) - output_window)//7 + 2):
    start = start * 7
    next_week = model.predict(last_month)
    #last_month = torch.cat([last_month[-7:], next_week], axis = 1) <- 수정 전
    last_month = torch.cat([last_month[:,7:,:], next_week], axis = 1)# <- 수정 후

    pred_week = next_week.reshape(output_window,4)
    pred_week = pred_week * size.values + mini.values
    pred_week = pred_week.astype(int)
    
    if start/7 == (len(submission) - output_window)//7 + 1:
        submission.iloc[start :, 1:] = pred_week[-submission.iloc[start :, 1:].shape[0]:,:]
    else:
        submission.iloc[start : start + output_window, 1:] = pred_week
submission